/* Flag Icons for Country Pages */
.flag-icon {
  display: inline-block;
  position: relative;
  width: 1.33em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon:before {
  content: "\00a0";
}

/* Square flags */
.flag-icon-squared {
  width: 1em;
}

/* Individual country flags */
.flag-icon-us {
  background-image: url(/assets/images/flags/us.svg);
}

.flag-icon-gb {
  background-image: url(/assets/images/flags/gb.svg);
}

.flag-icon-in {
  background-image: url(/assets/images/flags/in.svg);
}

.flag-icon-de {
  background-image: url(/assets/images/flags/de.svg);
}

.flag-icon-jp {
  background-image: url(/assets/images/flags/jp.svg);
}

.flag-icon-ca {
  background-image: url(/assets/images/flags/ca.svg);
}

.flag-icon-au {
  background-image: url(/assets/images/flags/au.svg);
}

.flag-icon-br {
  background-image: url(/assets/images/flags/br.svg);
}

.flag-icon-sg {
  background-image: url(/assets/images/flags/sg.svg);
}

.flag-icon-fr {
  background-image: url(/assets/images/flags/fr.svg);
}

.flag-icon-cn {
  background-image: url(/assets/images/flags/cn.svg);
}

.flag-icon-kr {
  background-image: url(/assets/images/flags/kr.svg);
}

.flag-icon-il {
  background-image: url(/assets/images/flags/il.svg);
}

.flag-icon-ae {
  background-image: url(/assets/images/flags/ae.svg);
}

.flag-icon-za {
  background-image: url(/assets/images/flags/za.svg);
}
